.inDdhdh {
  @media screen and (max-width: 850px) {
    width: 100% !important;
  }
  @media screen and (max-width: 600px) {
    width: 160px !important;
  }
  .tabTitle2 {
    text-align: center;
    padding-left: 25%;

    @media screen and (max-width: 650px) {
      padding: 0;
      text-align: left;
    }

    &.tabTitleBin {
      padding-left: 0px;
    }
  }
  .fileDescription {
    img {
      width: 46.15px !important;
      height: 36.92px !important;
    }
  }
  .fileDownload {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
  }
}

