.footer {
  padding: 9px 16px 9px 16px;
  background-color: #4378db;

  .inFooter {
    max-width: 1335px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  }
}
